/* 
Tarjeta navideÃ±a digital
Jose Jurado
21/12/2022
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.QR{
    position:absolute;
    box-sizing: border-box;
    width: 300px;
    height: 300px;   
    top:10%;
    left:0%;
    align-items:center;
    justify-content:center;
}
img {
    position:absolute;
    margin: 0%;
    padding: 0%;
    top:0;
    left:0;    
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 60% 10%;
    /* para suavizar los efectos */
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    z-index: index 1;
}
  

div {
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    opacity:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image: linear-gradient(130deg,#ffffff,#f9002af9);
    /* para suavizar los efectos */
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    background-color:transparent;
    z-index:1;
}
p:nth-child(3) {
    color:rgb(255, 255, 255);
    font-style:oblique;
}

div:active, div:hover {
    opacity:1;
    background-color:rgba(255,255,255,0.15);
    
}

p {
    text-align:center;
    word-wrap: break-word;
    /* para suavizar los efectos */
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    background-color:transparent;
    color:rgb(248, 248, 248);
    text-shadow:3px 3px rgba(248, 5, 5, 0.853);
    font-size:calc(1.3em + 1vw + 0.5vh);
    font-weight:bold;
    z-index:2;
}

@media all and (orientation:landscape){
    img, div {
        width:75vh;
        margin-left:calc(50vw - 35vh);
    }
}
